<?xml version="1.0" encoding="utf-8"?>
<!--
https://go.microsoft.com/fwlink/?LinkID=208121.
-->
<Project>
  <PropertyGroup>
    <WebPublishMethod>Custom</WebPublishMethod>
    <DockerPublish>true</DockerPublish>
    <ResourceId>/subscriptions/0e930b5b-52ec-45c8-b5da-170daad62fe8/resourcegroups/eduhunt/providers/Microsoft.ContainerRegistry/registries/EDUHUNTBE20240319161510</ResourceId>
    <ResourceName>EDUHUNTBE20240319161510</ResourceName>
    <ResourceGroup>eduhunt</ResourceGroup>
    <Subscription>Azure subscription 1</Subscription>
    <RegistryUrl>https://eduhuntbe20240319161510.azurecr.io</RegistryUrl>
    <UserName />
    <PublishImageTag>latest</PublishImageTag>
    <PublishProvider>ContainerRegistry</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <ProjectGuid>35eab708-a149-4f69-928f-d69d176ac75a</ProjectGuid>
    <_TargetId>AzureContainerRegistry</_TargetId>
  </PropertyGroup>
</Project>