<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit https://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project>
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <ResourceId>/subscriptions/0e930b5b-52ec-45c8-b5da-170daad62fe8/resourceGroups/eduhunt/providers/Microsoft.Web/sites/eduhunt</ResourceId>
    <ResourceGroup>eduhunt</ResourceGroup>
    <ApiResourceId>/subscriptions/0e930b5b-52ec-45c8-b5da-170daad62fe8/resourceGroups/eduhunt/providers/Microsoft.ApiManagement/service/EDUHUNTBEapi/apis/EDUHUNTBE</ApiResourceId>
    <OpenApiDocumentName>v1</OpenApiDocumentName>
    <UpdateApiOnPublish>true</UpdateApiOnPublish>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>https://eduhunt.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>true</LaunchSiteAfterPublish>
    <ExcludeApp_Data>false</ExcludeApp_Data>
    <ProjectGuid>35eab708-a149-4f69-928f-d69d176ac75a</ProjectGuid>
    <MSDeployServiceURL>eduhunt.scm.azurewebsites.net:443</MSDeployServiceURL>
    <DeployIisAppPath>eduhunt</DeployIisAppPath>
    <SkipExtraFilesOnServer>true</SkipExtraFilesOnServer>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>true</EnableMSDeployBackup>
    <EnableMsDeployAppOffline>true</EnableMsDeployAppOffline>
    <UserName>$eduhunt</UserName>
    <_SavePWD>true</_SavePWD>
    <_DestinationType>AzureWebSite</_DestinationType>
    <TargetFramework>net8.0</TargetFramework>
    <SelfContained>false</SelfContained>
    <RuntimeIdentifier>win-x64</RuntimeIdentifier>
    <EncryptedPassword>AQAAANCMnd8BFdERjHoAwE/Cl+sBAAAANRz96K8Dm02xZ5ZmC4KfqAAAAAACAAAAAAAQZgAAAAEAACAAAADP4m4prFPWZxYR86ZrYmvMUGNUSWBWX/I51vpxeY45hQAAAAAOgAAAAAIAACAAAACFK35F8dLuN62bHvGklpmM8W7nRVzJk/s1Zm1x8usvt4AAAACP32FXpiHuh5CAhVeHNbVrwpHj2lgcpCR5ONBlv3mA5bbcDj4chXDkiMynrFbLV9rt4NrkeBwIDfDrzvvTZ9wU6hhdJNcv3hUF/EzppFWdQ/erqzRbBhvnrWZrFBbfvq7tZkkhfiJr1WwsYr41rDagsL8x6cqEFrSG9+WRiCFXD0AAAABdXKXqCG+DuVBbQHcNbyocCS1t+S6yo0sI4xT2ZF0Y3djmTEnzKIbnekcYQmVG2fG85clqeGlk1j9fvNXDyJHc</EncryptedPassword>
    <History>False|2024-03-19T08:11:13.8320818Z;False|2024-03-19T15:06:32.1458416+07:00;False|2024-03-19T15:02:55.7999849+07:00;False|2024-03-19T15:02:17.3744044+07:00;False|2024-03-19T14:58:11.7061787+07:00;</History>
    <EnvironmentSubType>AppServicePublishProfileVisual</EnvironmentSubType>
    <_PublishBasicAuthDisabled>true</_PublishBasicAuthDisabled>
    <RemoteSitePhysicalPath />
  </PropertyGroup>
</Project>